@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    min-width: 110px;
    margin: 5px 5px;
    height: 30px;
}

